<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>
    <script th:src="@{/modify.js}"></script>

    <div class="nav" th:replace="~{ nav.html::navbar }"></div>

    <form action="/modify" method="POST">
        <input type="hidden" name="alertMsg" id="alertMsg" th:value="${alertMessage}">
        <input type="hidden" name="id" id="id" th:value="${data.id}">>
        <input name="title" id="title" th:value="${data.title}">
        <input name="price" id="price" th:value="${data.price}">
        <button type="submit">수정</button>
    </form>

</body>
</html>