<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>
    <div class="nav" th:replace="~{ nav.html::navbar }"></div>

    <form action="/add" method="POST" enctype="multipart/form-data">
        <input name="title" placeholder="상품명" >
        <input name="price" placeholder="금액">
<!--        <input type="hidden" name="file">-->
        <label for="imageFile" class="form-label">이미지 파일</label>
        <input type="file" name="imageFile" id="imageFile">

        <button type="submit">전송</button>
        <p>이미지 예시</p>
        <img src="">
    </form>

</body>
</html>